@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;600&display=swap");

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-height: 75vh;
  overflow-y: hidden;

}

.home-page body {
  margin: 0;
  padding: 0;
}




.home-page .container {
  display: flex;
  flex-direction: row;
  height: 450px;
  padding: 50px;
  width: 85%;
  margin: 30px auto;
}

.home-page h1 {
  font-size: 50px;
  width: 80%;
  letter-spacing: 2px;
  font-weight: bolder;
  font-family: "Bebas Neue", sans-serif;
}

h1 {}

body {
  font-family: "Inter", sans-serif;
}

.home-page .shoe-card {
  width: 500px;
  height: 400px;

  object-fit: contain;
}

.home-page .main {
  border: 4px solid black;
}

.home-page .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.home-page .lefttext {
  text-decoration: underline;
  text-decoration-color: orange;
}

.home-page button {
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: bold;
}

.home-page .Explore {
  width: 150px;
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #ff6a5f;
  display: inline-block;
  color: white;
  transition: background-color 0.3s;
}

.homepagep {
  color: black;
}

.home-page .Explore:hover {
  background-color: #ff3c2f;
}