.shop-page .shopcontainer {
  display: grid;
  grid-template-columns: repeat(3, 450px);
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
}
.shop-page img {
  border-bottom: 2px solid black;
  width: 100%;
  height: 14rem;
  object-fit: contain;
}
.shop-page .shopconcard {
  position: relative;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.3s;
  overflow: visible;
}

.shop-page .shopconcard:hover {
  transform: scale(1.04);
}

.shop-page h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
