.size-picker {
  display: flex;
  flex-direction: column;

  gap: 12px;
  font-family: "Montserrat", sans-serif;
}

.size-picker .title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.size-picker .sizes {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.size-picker .size {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: bold;
}

.size-picker .size.active {
  background-color: #000;
  color: #fff;
  border-color: #000;
  transform: scale(1.1);
}
